/*.header-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
}
*/
$assetPath: "/assets";

.header-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(#{$assetPath}/sb-header-photo.jpg);
  background-position: 35% 18%;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 250px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  img {
    width: 65px;
    height: 65px;
  }
  h1 {
    color: white;
    margin-left: 0.625rem;
    span {
      color: orange;
    }
  }
}
